.about{
    width: 100%;
    height: 100vh;
    .aboutc{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .aboutimage{
            width: 350px;
        }
        .data{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


@media (max-width:550px){
    .about{
        height: 120vh;
    }
}

@media (max-width:350px){
    .about{
        .aboutc{
            .aboutimage{
                width: 200px;
            }
        }
    }
}