@import "colors.scss";

.add{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .addcard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: 80vw;
        height: 85vh;
        box-shadow: 0px 0px 4px 0px $shadow;
        border-radius: 5px;
        color: $primary;
        h1{
            text-decoration: underline;
        }
    }
    .addform{
        display: flex;
        height: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        .addinput{
            margin: 10px;
            padding: 5px;
            border: none;
            height: 40px;
            width: 350px;
            border-radius: 5px;
            box-shadow:0px 0px 4px 0px $shadow;
            &:hover{
                box-shadow:0px 1px 5px 1px $shadow;
            }
        }
        #textarea{
            max-width: 80vw;
        }
        #submit{
            width:90px;
            height: 30px;
            margin:10px 0 0 0;
            background-color: $primary;
            text-decoration: none;
            border: none;
            color: white;
            border-radius: 5px;
        }
  

    }
}