@import "colors.scss";

.card{
    text-decoration: none;
    color: black;
    box-shadow: 0 0 1px 1px $shadow;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    transition: 0.2s ease;
    &:hover{
        box-shadow: 0 0 4px 4px $shadow;
    }
    .cimage{
        background-color:rgb(255, 255, 255);
        height: 85%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .cdata{
        padding: 0 5px;
        height: 15%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
        .like{
            display: flex;
            gap: 5px;
        }
    }

}
