@import "colors.scss";

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .contactcard{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
        width: 500px;
        height: 400px;
        box-shadow: 0px 0px 4px 0px $shadow;
        border-radius: 5px;
        color: $primary;
        h1{
            text-decoration: underline;
        }
    }
    .form{
        display: flex;
        height: 65%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        #username,#phone,#feedback{
            margin: 10px;
            padding: 5px;
            border: none;
            height: 25px;
            width: 250px;
            border-radius: 5px;
            box-shadow:0px 0px 4px 0px $shadow;
            &:hover{
                box-shadow:0px 1px 5px 1px $shadow;
            }
        }
        #feedback{
            max-width: 400px;
        }
        #submit{
            width:90px;
            height: 30px;
            margin:10px 0;
            background-color: $primary;
            text-decoration: none;
            border: none;
            color: white;
            border-radius: 5px;
        }

 

    }
}